!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    title Friends
    link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.0.css')
    link(rel='stylesheet', href='/stylesheets/jquery.mobile.scrollview.css')
    //
       <link rel="stylesheet" href="../../docs/_assets/css/jqm-docs.css" /> 
    style
      .ui-content.ui-scrollview-clip {
      padding: 0;
      }
      .ui-content.ui-scrollview-clip > div.ui-scrollview-view {
      margin: 0;
      padding: 15px;
      }
      .ui-content.ui-scrollview-clip > .ui-listview.ui-scrollview-view {
      margin: 0;
      }
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jquery.mobile-1.0.js')
    script(src='/javascripts/jquery.easing.1.3.js')
    script(src='/javascripts/jquery.mobile.scrollview.js')
    script(src='/javascripts/scrollview.js')
  body
    #jqm-home.type-interior(data-role='page', data-theme='a')
      div(data-role='header', data-position='fixed')
        h1 Friend Request
        //
           <a href="menu.html" data-transition="pop" data-theme="a" data-rel="dialog" data-icon="grid" data-iconpos="notext" class="ui-btn-left"></a> 
        a.ui-btn-right(href='/userinfo', data-direction='reverse', data-theme='a', data-icon='home', data-iconpos='notext') home
      div(data-role='content')
        ul(data-role='listview', data-inset='true', data-position='fixed')
          -each user in users
            li
              img(src='/uploads/photos/'+user.photo, width=60)
              h3(style='margin: 0px; padding: 0px;')=user.username
              h6=user.sex
              form( method="post", action="/accept/request")
                input( type="hidden", name="_id", value=user._id.toHexString())
                div(align="center")
                  input( type="submit", name="Submit",value="Accept Request")  
           
      div(data-role='footer', data-position='fixed')
        h4 Powered By:Pragmatic Techsoft
