script(src='http://www.google.com/maps/api/js?sensor=false')
article.grid_8.alpha
article#rightside.grid_4.omega
  #status
  form(method ="get", action ="")
    input(type = "hidden", name = "lt", value =user.latitude)
    input(type = "hidden", name = "ln", value =user.longitude)
    input(type="button",value="show Geo Location",name="geo", onClick="success1(this.form);")
script
  function success1(form) {
    var lt = form.lt.value;
    var ln = form.ln.value;
    var g = form.geo;
    if(g) {
      g.disabled=true;
    }
    var s = document.querySelector('#status');
    if (s.className == 'success') {
      // not sure why we're hitting this twice in FF, I think it's to do with a cached result coming back    
      return;
    }
    s.className = 'success';
    var mapcanvas = document.createElement('div');
    mapcanvas.id = 'mapcanvas';
    mapcanvas.style.height = '300px';
    mapcanvas.style.width = '350px';
    document.querySelector('article').appendChild(mapcanvas);
    var latlng = new google.maps.LatLng(lt, ln);
    var myOptions = {
      zoom: 10,
      center: latlng,
      mapTypeControl: false,
      navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);
    var marker = new google.maps.Marker({
      position: latlng, 
      map: map, 
      title:"You are here!"
    });
  }
  function error(msg) {
    if(msg.code === 1){
      $('#status').text("Failed: PERMISSION DENIED");
    } else if (msg.code === 2){
      $('#status').text("Failed: POSITION UNAVAILABLE");
    } else if (msg.code === 3){
      $('#status').text("Failed: TIMEOUT");
    } else {
      $('#status').text("Failed: " + msg.code);
    }
  }
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(success1, error);
  } else {
    error('not supported');
  }

