.type-interior(data-role='page', data-theme='a')
  div(data-role='header', data-theme='a')
    h1 Login
  div(data-role='content')
    input#name(type='text', placeholder='User Name', name='user[email]', value=user.email || '')
  div(data-role='content')
     input#password(type='password', placeholder='Password', name='user[password]', value=user.password || '')
     input#submit(type ='submit', value = 'Login')
  div(data-role='footer', data-position='fixed')
    h4 Powered By:Pragmatic Techsoft
