html
  head
    title sold_0002
    meta(http-equiv='Content-Type', content='text/html; charset=windows-1251')
    link(href='style.css', rel='stylesheet', type='text/css')
  body(bgcolor='#FFFFFF', leftmargin='0', topmargin='0', marginwidth='0', marginheight='0')
    table(width='780', border='0', align='center', cellpadding='0', cellspacing='0')
      tr
        td(width='780', height='100%', align='center', valign='middle', bgcolor='#666666', style='padding: 11px;')
          table(width='100%', border='0', cellspacing='0', cellpadding='0')
            tr
              td(width='214', valign='top', bgcolor='#FFFFFF')
                table(width='100%', height='100%', border='0', cellpadding='0', cellspacing='9')
                  tr
                    td
                      img(src='/uploads/photos/'+currentUser.photo, width=240, name='user[image]')
                  tr
                    td(valign='top')
                      table(width='100%', border='0', cellspacing='3', cellpadding='0')
                        tr
                          td(bgcolor='#F5F2F2')
                            div(class="left-navigation")
                              img(src='/images/right_nav_dop.gif', width='49', height='30', alt='')
                              a(href='/wallpost') Wall
                        tr
                          td(bgcolor='#F5F2F2')
                            div(class="left-navigation")
                              img(src='/images/right_nav_dop.gif', width='49', height='30', alt='')
                              a(href='') Profile
                        tr
                          td(bgcolor='#F5F2F2')
                            div(class="left-navigation")
                              img(src='/images/right_nav_dop.gif', width='49', height='30', alt='')
                              a(href='/show/friends') Friends
                        tr
                          td(bgcolor='#F5F2F2')
                            div(class="left-navigation")
                              img(src='/images/right_nav_dop.gif', width='49', height='30', alt='')
                              a(href='/show/friendrequests') Friend Request
                        tr
                          td(bgcolor='#F5F2F2')
                            div(class="left-navigation")
                              img(src='/images/right_nav_dop.gif', width='49', height='30', alt='')
                              a(href='/videos') Videos Posted
                              
                        tr
                          td(bgcolor='#F5F2F2')
                            div(class="left-navigation")
                              img(src='/images/right_nav_dop.gif', width='49', height='30', alt='')
                              a(href='/videos/new') Upload New Video
                        tr
                          td(bgcolor='#F5F2F2')
                            div(class="left-navigation")
                              img(src='/images/right_nav_dop.gif', width='49', height='30', alt='')
                              a(href='/userinfo/new') Change Profile Picture

              td(width='11', rowspan='2')
                img(src='/images/spacer.gif', width='11', height='1')
              td(valign='top', bgcolor='#FFFFFF')
                table(width='100%', height='100%', border='0', cellpadding='0', cellspacing='9')
                  tr
                    td
                  tr
                    td
                      table(width='100%', border='0', cellspacing='5', cellpadding='0')
                        tr
                          td(align="center")
                            h2 Wall
                        tr
                          td
                            table(width='100%', border='0', cellspacing='10', cellpadding='0')
                              tr
                                td(rowspan='2')
                                  table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                    tr
                                      td(bgcolor='#F5F2F2', style='padding: 2px;')
                                        table(width='100%', border='0', cellspacing='5', cellpadding='0', bgcolor='#FFFFFF')
                                          tr
                                            td
                                              form(method ='post',action = '/wall/create')
                                                div
                                                  textarea(name ='post[body]',rows='3', cols ='50', value=post.body || '')
                                                br
                                                div(align ='right')
                                                  input(type ='submit', name ='submit', value = '     Post     ')
                         
                        tr
                          td
                            table(width='100%', border='0', cellspacing='10', cellpadding='0')
                              tr
                                td(rowspan='2')
                                  table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                    tr
                                      td(bgcolor='#F5F2F2', style='padding: 2px;')
                                        table(width='100%', border='0', cellspacing='5', cellpadding='0', bgcolor='#FFFFFF')
                                          tr
                                            td
                               
                                   
            tr
              td(valign='bottom', bgcolor='#FFFFFF', style='padding: 9px;')
                 
              td(valign='bottom', bgcolor='#FFFFFF')
                table(width='100%', border='0', cellspacing='9', cellpadding='0')
                  tr
                    td(height='56', valign='top', bgcolor='#3A8356')
                      table(width='100%', border='0', cellspacing='9', cellpadding='0')
                        tr
                          td.white
                            | Copyright © Pragtech.co.in. All rights reserved.
                            a(href='http://www.pragtech.co.in', style='color: #FFFFFF; text-decoration: none;') Pragmatic Techsoft
